:root {
    /*Color Preset 1*/
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --accent-color: #E03436;
    --contrast-color: #333333;
    --tertiary-color: #648381;
    /*Color Preset 2*/
    /*Color Preset 3*/
    /*Color Preset 4*/
}