/*=== FONTS ===*/
@font-face {
    font-family: 'FS Sinclair';
    src: url('../fonts/FS Sinclair Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breaking Bad';
    src: url('../fonts/Heart Breaking Bad.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}